/** IMPORTS **/
@font-face {
    font-family: 'Raleway-Thin';
    src: url(../fonts/Raleway-Thin.ttf);
}

@font-face {
    font-family: 'Raleway-Light';
    src: url(../fonts/Raleway-Light.ttf);
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url(../fonts/Raleway-Medium.ttf);
}

/** TYPOGRAPHY **/
$size-extra-small:  font(10px);
$size-small:        font(12px);
$size-regular:      font(16px);
$size-medium:       font(24px);
$size-large:        font(40px);
$size-extra-large:  font(56px);
$size-jumbo:        font(72px);

.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }

/** COLORS **/
$black:             #000000;
$gray-50:           #FAFAFA;
$gray-500:          #9E9E9E;
$gray-800:          #424242;
$gray-900:          #212121;
$white:             #FFFFFF;

/** GENERAL **/
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Raleway-Regular';
    font-size: 14px;
}

/** LAYOUT **/
.container {
    width: 100%;
    height: auto;
}

.header {
    width: 100%;
    min-height: 150px;

    &--menu {
        width: 60px;
        height: 60px;
        float: left;
        margin: 45px 0 0 45px;
        background-color: red;
    }

    &--title {
        float: left;
        margin: 50px 0 0 100px;
    }
}

.content {
    width: 100%;
    height: auto;
    padding: 40px;
    box-sizing: border-box;

    &--section {
        width: 100%;
        height: auto;

        &_title {
            margin-bottom: 40px;
        }
    }

    &--block {
        margin: 30px;
    }
}
