/** IMPORTS **/
@import url(http://fonts.googleapis.com/css?family=Raleway:300);

/** GENERAL **/
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Raleway';
    font-size: 14px;
}

/** TYPOGRAPHY **/
.font-title { font-size: 20px; }
.font-subtitle { font-size: 16px; }

.font-head1 { font-size: 34px; }
.font-head2 { font-size: 45px; }
.font-head3 { font-size: 56px; }

.bold { font-weight: bold; }
.italic { text-decoration: underline; }

/** COLORS **/
.bg-white { background-color: #FFFFFF; }
.gb-gray-50 { background-color: #FAFAFA; }
.bg-gray-900 { background-color: #212121; }

.white { color: #FFFFFF; }
.black { color: #000000; }
.gray-500 { color: #9E9E9E; }
.gray-800 { color: #424242; }

/** LAYOUT **/
.container {
    width: 100%;
    height: auto;
}

.header {
    width: 100%;
    min-height: 150px;
}

.header .menu {
    width: 60px;
    height: 60px;
    float: left;
    margin: 45px 0 0 45px;
    background-color: red;
}

.header .title {
    float: left;
    margin: 50px 0 0 100px;
}

.content {
    width: 100%;
    height: auto;
    padding: 40px;
    box-sizing: border-box;
}

.content .section {
    width: 100%;
    height: auto;
}

.content .section .title {
    margin-bottom: 40px;
}

.content .block {
    margin: 30px;
}
