@import "_variables.scss";
@import "._reset.scss";

/** GENERAL **/
body {
    font-family: 'Raleway-Regular';
    font-size: $size-small;
}

/** LAYOUT **/
.container {
    width: 100%;
    height: auto;
}

.header {
    width: 100%;
    min-height: 150px;

    &--menu {
        width: 60px;
        height: 60px;
        float: left;
        margin: 45px 0 0 45px;
        background-color: red;
    }

    &--title {
        float: left;
        margin: 50px 0 0 100px;
    }
}

.content {
    width: 100%;
    height: auto;
    padding: 40px;
    box-sizing: border-box;

    &--section {
        width: 100%;
        height: auto;

        &_title {
            margin-bottom: 40px;
        }
    }

    &--block {
        margin: 30px;
    }
}
