/** TYPOGRAPHY **/
@font-face {
    font-family: 'Raleway-Thin';
    src: url(../fonts/Raleway-Thin.ttf);
}

@font-face {
    font-family: 'Raleway-Light';
    src: url(../fonts/Raleway-Light.ttf);
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url(../fonts/Raleway-Medium.ttf);
}

$size-extra-small:  10px;
$size-small:        12px;
$size-regular:      16px;
$size-medium:       24px;
$size-large:        40px;
$size-extra-large:  56px;
$size-jumbo:        72px;

.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }

/** COLORS **/
$black:             #000000;

$blue-100:          #B3E5FC;
$blue-300:          #4FC3F7;
$blue-800:          #0277BD;
$blue-900:          #01579B;

$gray-50:           #FAFAFA;
$gray-200:          #EEEEEE;
$gray-300:          #E0E0E0;
$gray-500:          #9E9E9E;
$gray-600:          #757575;
$gray-800:          #424242;
$gray-900:          #212121;

$green-500:         #8BC34A;

$indigo-900:        #1A237E;

$white:             #FFFFFF;


/** OTHERS **/
$opacity:           0.6;
