@import "./globals";

/** GENERAL **/
body {
    background-color: $black;
    background-image: url('../img/bg.png');
    background-position: top;
    background-repeat: no-repeat;
    font-family: 'Raleway-Regular';
    font-size: $size-regular;
}

/** LAYOUT **/
.container {
    width: 100%;
}

.header {
    background-color: $black;
    height: 80px;
    opacity: $opacity;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    &--logo {
        color: $white;
        float: left;
        font-size: $size-medium;
        margin: 20px 0 0 20px;
    }

    &--menu {
        float: right;
        margin: 30px 20px 0 0;

        .item {
            margin: 0 30px;

            .link {
                box-shadow: 4px 5px 10px $black;
                color: $white;
                text-decoration: none;
            }
        }
    }
}

.content {
    width: 100%;

    &--main {
        height: 800px;
        padding-top: 300px;
        width: 100%;

        .main-message {
            color: $white;
            text-align: center;

            &-big {
                font-family: 'Raleway-Medium';
                font-size: $size-jumbo;
            }

            &-small {
                font-family: 'Raleway-Regular';
                font-size: $size-regular;
            }
        }
    }

    &--section {
        overflow: hidden;
        padding: 40px;
        width: 100%;

        .title {
            font-family: 'Raleway-Medium';
            font-size: $size-extra-large;
            margin-bottom: 40px;
            text-align: center;
        }

        .subtitle {
            font-size: $size-medium;
            margin-bottom: 10px;

            &_small {
                font-size: $size-regular;
            }
        }

        .date {
            font-size: $size-regular;
        }

        .description {
            font-size: $size-regular;
            margin: 30px;
        }

        // ABOUT STYLES ////////////////////////////////////////////////////
        &.about {
            background-color: $gray-800;

            .title {
                color: $white;
            }

            .subtitle {

                &_small {
                    color: $gray-200;
                }
            }

            .description {
                color: $gray-500;
            }

            .perfil {
                border-radius: 50%;
                width: 75%;
            }
        }

        // EDUCATION STYLES ////////////////////////////////////////////////////
        &.education {
            background-color: $white;

            .title {
                color: $gray-800;
            }

            .subtitle {

                &_small {
                    color: $gray-800;
                }
            }

            .date {
                color: $gray-500;
            }
        }

        // WORK STYLES /////////////////////////////////////////////////////////
        &.work {
            background-color: $blue-800;

            .title {
                color: $white;
            }

            .subtitle {
                color: $indigo-900;

                &_small {
                    color: $blue-300;
                }
            }

            .date {
                color: $blue-100;
            }

            .description {
                color: $white;
            }
        }

        // SKILLS STYLES ///////////////////////////////////////////////////////
        &.skills {
            background-color: $white;

            .title {
                color: $gray-800;
            }

            .subtitle {

                &_small {
                    color: $gray-800;
                }
            }

            .date {
                color: $gray-500;
            }

            .skills-block {

                &-item {
                    clear: both;
                    overflow: hidden;
                    padding: 20px 0;

                    &:hover {
                        background-color: $gray-200;
                    }

                    &_title {
                        color: $gray-600;
                        font-size: $size-regular;
                        float: left;
                        margin: 10px 20px 0 0;
                        text-align: right;
                        width: 30%;
                    }

                    &_stars {
                        float: left;
                        width: 50%;

                        .star{
                            height: 24px;
                            margin: 5px;
                            width: 24px;

                            &-gray {
                                background-image: url('../img/star_gray_24.png');
                            }

                            &-yellow {
                                background-image: url('../img/star_yellow_24.png');
                            }
                        }
                    }
                }
            }
        }

        &-data {
            float: left;
            width: 60%;

            &-block {
                margin-bottom: 60px;
            }
        }

        &-image {
            float: left;
            text-align: center;
            padding: 75px 0;
            width: 40%;
        }
    }
}
