@import "./globals";

/** GENERAL **/
body {
    background-color: $black;
    background-image: url('../img/bg.png');
    background-position: top;
    background-repeat: no-repeat;
    font-family: 'Raleway-Regular';
    font-size: $size-regular;
}

/** LAYOUT **/
.container {
    width: 100%;
}

/** OTHERS **/
.center {
    margin-left: auto;
    margin-right: auto;
}