@import "./../variables";

.section {
    overflow: hidden;
    padding: 60px;
    width: 100%;

    .title {
        font-family: 'Raleway-Medium';
        font-size: $size-extra-large;
        margin-bottom: 50px;
        text-align: center;
    }

    .subtitle {
        font-size: $size-medium;
        margin-bottom: 10px;

        &_small {
            font-size: $size-regular;
        }
    }

    .date {
        font-size: $size-regular;
    }

    .description {
        font-size: $size-regular;
        margin: 30px;
    }

    &-data {
        float: left;
        width: 60%;

        &-block {
            margin-bottom: 60px;
        }
    }

    &-image {
        float: left;
        text-align: center;
        padding: 50px 0;
        width: 40%;
    }
}