@import "./../variables";

.section {
    &.education {
        background-color: $white;

        .title {
            color: $gray-800;
        }

        .subtitle {

            &_small {
                color: $gray-800;
            }
        }

        .date {
            color: $gray-500;
        }
    }
}