@import "./../variables";

.section {
    &.main {
        height: 800px;
        padding-top: 300px;
        width: 100%;

        .main-message {
            color: $white;
            text-align: center;

            &-big {
                font-family: 'Raleway-Medium';
                font-size: $size-jumbo;
            }

            &-small {
                font-family: 'Raleway-Regular';
                font-size: $size-regular;
            }
        }
    }
}